<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>error</title>
  <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<h1 >Error</h1>
<div th:if="${errorMessage == 'Error: les fonds sont Insuffisants'}">
  <h2>Error: les fonds sont Insuffisants</h2>
</div>
<div th:if="${errorMessage == 'Error: nous ne retrouvons pas le bénéficiaire dans vos contacts'}">
  <h2>Error: nous ne retrouvons pas le bénéficiaire dans vos contacts</h2>
</div>
<!--<div th:if="${errorMessage.startsWith('Error: ')}">-->
<!--  <h2 th:text="${errorMessage}"></h2>-->
<!--</div>-->
</body>
</html>