<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>error</title>
  <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<h1 >Error</h1>

<div th:if="${errorMessage}" class="alert-success text-center" style="background-color: #32cd7a" >
  [[${errorMessage}]]
</div>

<div ><button onclick="homePageReturn()">Retour homePage</button></div>

<script type="text/javascript">
  function homePageReturn(){
    window.location="[[@{/userAccount}]]";
  }
</script>
</body>
</html>