<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to my application</title>
    <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div text align="center">
    <h1 class="bg-success">Welcome to PayMyBuddy</h1>
    <button type="button" class="btn btn-light" style="margin-right: 300px"><a class="h2 " th:href="@{/userAccount/new}">Subscription</a></button>
    <button type="button" class="btn btn-light" style="margin-left: 300px"><a class="h2" th:href="@{/userAccount/connection}">Login</a></button>
</div>
<div th:if="${message}" class="alert-success text-center" style="background-color: #32cd7a">
    [[${message}]]
</div>

</body>
</html>