<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Welcome to my application</title>
  <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<h1 class="bg-success">Welcome to PayMyBuddy</h1>

<div>
  <p style="padding-top: 3px;margin-bottom: 2px;margin-top: 16px;">Liste des contacts</p>
  <table class="table table-bordered">
    <thead class="bg-success text-white">
    <tr>
      <th>Mail</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="contact:${contactsList}">
      <tr>
        <td>[[${contact.mail}]]</td>
      </tr>
    </th:block>
    </tbody>
  </table>
</div>

</body>
</html>