<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body style="margin-left: 40%">
<h2 class="align-content-center">Welcome to contact form</h2>
<form th:action="@{/search-userAccount}" method="post">
    <label th:for="email">Adresse email</label>
    <input type="email" id="email" name="email">
    <button type="submit" class="btn btn-primary m-2">Rechercher</button>
</form>

</body>
</html>