<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>transfert</title>
    <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body style="margin-left: 45%">

<h2 th:text="${message}"></h2>

<div class="justify-content-md-around">
    <form th:action="@{/transfert/add}" method="post" th:object="${transfert}">
        <div class="mb-3 align-content-center">
            <input type="number" th:field="*{montant}" placeholder="montant">
        </div>
        <div class="mb-3">
            <input type="text" th:field="*{date}" placeholder="date">
        </div>
        <div class="mb-3">
            <input type="text" th:field="*{iban}" placeholder="iban">
        </div>
        <div class="mb-3" style="max-width: 200px">
            <select type="text" th:field="*{transfertType}" class=" form-select" placeholder=" Transfert Type"
                    aria-label="Select A Type">
                <option th:each="type:${T(com.openclassrooms.paymybuddy.constants.TransfertType).values()}"
                        th:value="${type}" th:text="${type}"></option>
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
</html>