<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>transfert</title>
    <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body style="margin-left: 40%">

<h2 th:text="${message}"></h2>
<div class="justify-content-md-around">
    <form th:action="@{/transfert/add}" th:object="${transfert}" method="post">
        <div class="mb-3 align-content-center">
            <input type="number" th:field="*{montant}" placeholder="montant">
        </div>
        <div class="mb-3">
            <input type="text" th:field="*{date}" placeholder="date">
        </div>
        <div class="mb-3">
            <input type="text" th:field="*{iban}" placeholder="iban">
        </div>
        <div class="mb-3" style="max-width: 200px">
            <select type="text" class=" form-select" placeholder=" Transfert Type"
                    aria-label="Select A Type">
                <option selected>Select transfert type</option>
                <option value="1" th:field="*{transfertType}">CREDIT</option>
                <option value="2"th:field="*{transfertType}">DEBIT</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>