<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div>
    <h2><span class="badge bg-success p-2 text-white ">PayMyBuddy</span></h2>

    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/transfert/new}">Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@{userAccount/contacts}">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log off</a>
            </li>
        </ul>

    </div>
</div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transfer</li>
    </ol>
</nav>
<div>
    <p th:text="${message} + ${userAccount.getName()}"></p>
</div>
<div class="mx-auto" style="width: 1100px">
    <div class="d-inline-flex ">
        <p class="p-md-2 mx-lg-auto" style="margin-right: 300px">Send Money</p>
        <div class="col-auto" style="margin-left: 800px" th:object="${userAccount}">
            <a  th:href="@{/search-userAccount}" class="btn btn-primary">Add Connection</a>
        </div>
    </div>
    <form class="p-3 bg-light form-control" th:action="@{/transaction/add}" method="post"  th:object="${transaction}">
        <div class="row ">
            <div class="col">
                <select type="text" th:field="*{beneficiaire}" class=" form-select" placeholder="Select A Connection"
                        aria-label="Select A Connection">
                    <option th:each="contact : ${contacts}"  th:value="${contact.userAccount_id}"
                            th:text="${contact.name}">Select A Connection</option>
                </select>
            </div>
            <div class="col">
                <input type="text" th:field="*{montant}"class="form-control" placeholder="0 €" aria-label="montant">
            </div>
            <div class="col">
                <input class="btn btn-success" type="submit" value="Pay" style="width: 60%">
            </div>
        </div>
    </form>

    <div>
        <p style="padding-top: 3px;margin-bottom: 2px;margin-top: 16px;">My Transactions</p>
        <table class="table table-bordered">
            <thead class="bg-success text-white">
            <tr>
                <th>Contacts</th>
                <th>Description</th>
                <th>montant</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="transaction:${transactionsList}">
                <tr>
                    <td>[[${transaction.beneficiaire}]]</td>
                    <td>[[${transaction.description}]]</td>
                    <td>[[${transaction.montant}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>